extends layout
block content
  .form-group
  form(action="/api/v1/add", method="post")
    .form-group
      input.form-input(type="text" name="title" placeholder='Titre du film')
    .form-group
      input.form-input(type="text" name="category" placeholder='Catégorie du film')
    .form-group
      textarea.form-input(type="text" style="height: calc(1.5em + .75rem + 100px);" name="overview" placeholder='Synopsis')
    .form-group
      input.form-input(type="text" name="country" placeholder='Pays')
    .form-group
      input.form-input(type="text" name="original_language" placeholder='Langue')
    .form-group
      input.form-input(type="file" name="moviePicture" placeholder='Langue' accept="image/*")    
    button.btn-primary.input-group-btn(type='submit') Submit


