extends layout
block content
  .form-group
  form(action="/api/v1/add", method="post")
    input.form-input(type='text', name="title", placeholder='Title')
    input.form-input(placeholder='Category', name="category")
    textarea.form-input(placeholder='Description', name="description", rows="3")
    input.form-input(placeholder='Realisator', name="realisator")
    input.form-input(placeholder='Country', name="country")
    input.form-input(placeholder='Language', name="language")
    input.form-input(placeholder='Image', name="moviePicture")
    button.btn.btn-primary.input-group-btn(type=submit) envoyer

