extends layout
block content
  h1=movie.title + ' ( ' + movie.category + ' - ' +  movie.original_language + ' )'
  hr
  div(class="allelements")
    div(class="poster")
      img(src=movie.moviePicture)
    div(class="desc")
      p=movie.overview
  