extends layout
block content
  h1 Netflux
  div(class="routing")
    a(href=`/api/v1/add`) Ajoute un film
    a(href='/api/v1/gestion') Gestion
  div(class="md-form active-pink active-pink-2 mb-3 mt-0")
      input.form-control(type="text" name="search" autocomplete="off" placeholder="Search" id="myinput" onkeyup="searchFunction()")
  div(id="allMovies")
    each category in categories
      div(class="byCategory")
        h2=category.name
        hr
        each movie in movies
          if category.name == movie.category
            a(href=`/api/v1/${movie.id}/`)
              div(class="container")
                  img(class="image" src=movie.moviePicture)
                  button(class="btn btn-primary")
                    span(class="title")=movie.title
          
