extends layout
block content
  h1 Nos Movies
  each movie in Movies
    a(href=`/api/v1/${movie.id}/`)
      .card
        .card-header
          .card-title.h5=movie.name
        .card-body=movie.foodtype
